* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  flex-wrap: wrap;
  border-bottom: 3px solid purple;
}

.header-left a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
}

#spanClarus {
  color: rgb(170, 32, 147);
}

.header-right a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
}

.header-right a:hover {
  color: rgb(170, 32, 147);
}

.email-submit {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.7);
  height: 5rem;
  align-items: center;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}
#email {
  padding: 0.5rem;
  margin-right: 0.3rem;
  width: 18vw;
}
#submit {
  background-color: orangered;
  color: white;
  font-size: 0.9rem;
  padding: 0.5rem;
  border: none;
}
#submit:hover {
  cursor: pointer;
  color: orangered;
  background-color: white;
  font-weight: 600;
}

.about-us {
  display: flex;
  width: 100%;
  height: 61.6vh;
  gap: 5rem;
  padding: 1rem;
}
.about-us-prgph2 {
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 1rem;
  padding: 0.8rem;
  color: white;
}

.about-us-right {
  background-color: rgba(0, 0, 0, 0.7);
  height: 30vh;
  padding: 1rem;
  color: white;
  overflow: auto;
}
.about-us-left {
  overflow: auto;
}

.about-us-right h3,
.about-us-left h3 {
  margin-bottom: 0.8rem;
}

.about-us-prgph1,
.about-us-prgph2 {
  overflow: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  height: 6rem;
  padding: 0.7rem;
  color: white;
}
